# <h1> **PROYECTO INDIVIDUAL Nº1** </h1>

**`Transformaciones`**: 

+ Generar campo **`id`**: Cada id se compondrá de la primera letra del nombre de la plataforma, seguido del show_id ya presente en los datasets (ejemplo para títulos de Amazon = **`as123`**)

+ Los valores nulos del campo rating deberán reemplazarse por el string “**`G`**” (corresponde al maturity rating: “general for all audiences”

+ De haber fechas, deberán tener el formato **`AAAA-mm-dd`**

+ Los campos de texto deberán estar en **minúsculas**, sin excepciones

+ El campo ***duration*** debe convertirse en dos campos: **`duration_int`** y **`duration_type`**. El primero será un integer y el segundo un string indicando la unidad de medición de duración: min (minutos) o season (temporadas)

<br/>

In [278]:
# Importamos librerias necesarias
import pandas as pd

In [279]:
# Integramos los datasets y analizamos los datos

amazon = pd.read_csv('Datasets/amazon_prime_titles-score.csv')
amazon.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,99
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,37
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,20

In [280]:
amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       9668 non-null   object
 1   type          9668 non-null   object
 2   title         9668 non-null   object
 3   director      7586 non-null   object
 4   cast          8435 non-null   object
 5   country       672 non-null    object
 6   date_added    155 non-null    object
 7   release_year  9668 non-null   int64
 8   rating        9331 non-null   object
 9   duration      9668 non-null   object
 10  listed_in     9668 non-null   object
 11  description   9668 non-null   object
 12  score         9668 non-null   int64
dtypes: int64(2), object(11)
memory usage: 982.0+ KB

In [281]:
disney = pd.read_csv('Datasets/disney_plus_titles-score.csv')
disney.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!,100
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...,17
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.,92

In [282]:
disney.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1450 non-null   object
 1   type          1450 non-null   object
 2   title         1450 non-null   object
 3   director      977 non-null    object
 4   cast          1260 non-null   object
 5   country       1231 non-null   object
 6   date_added    1447 non-null   object
 7   release_year  1450 non-null   int64
 8   rating        1447 non-null   object
 9   duration      1450 non-null   object
 10  listed_in     1450 non-null   object
 11  description   1450 non-null   object
 12  score         1450 non-null   int64
dtypes: int64(2), object(11)
memory usage: 147.4+ KB

In [283]:
hulu = pd.read_csv('Datasets/hulu_titles-score (2).csv')
hulu.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...,48
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r...",8
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...,8

In [284]:
hulu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3073 non-null   object
 1   type          3073 non-null   object
 2   title         3073 non-null   object
 3   director      3 non-null      object
 4   cast          0 non-null      float64
 5   country       1620 non-null   object
 6   date_added    3045 non-null   object
 7   release_year  3073 non-null   int64
 8   rating        2553 non-null   object
 9   duration      2594 non-null   object
 10  listed_in     3073 non-null   object
 11  description   3069 non-null   object
 12  score         3073 non-null   int64
dtypes: float64(1), int64(2), object(10)
memory usage: 312.2+ KB

In [285]:
netflix = pd.read_csv('Datasets/netflix_titles-score.csv')
netflix.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",29
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",86
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,75
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",49
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,92

In [286]:
netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
 12  score         8807 non-null   int64
dtypes: int64(2), object(11)
memory usage: 894.6+ KB

+ Generar campo **`id`**: Cada id se compondrá de la primera letra del nombre de la plataforma, seguido del show_id ya presente en los datasets (ejemplo para títulos de Amazon = **`as123`**)

In [287]:
# Agregamos la columna "id" en cada dataframe
# Especificamos que no tenga duplicados y que se posicione en la columna 0

amazon.insert(0, "id", "a"+amazon.show_id, allow_duplicates=False)

disney.insert(0, "id", "d"+disney.show_id, allow_duplicates=False)

hulu.insert(0, "id", "h"+hulu.show_id, allow_duplicates=False)

netflix.insert(0, "id", "n"+netflix.show_id, allow_duplicates=False)

+ Los valores nulos del campo rating deberán reemplazarse por el string “**`G`**” (corresponde al maturity rating: “general for all audiences”)

In [288]:
#Remplazamos valores nulos por "G" con el método fillna y agregamos un Inplace=True para impactar

amazon["rating"].fillna("G", inplace=True)

disney["rating"].fillna("G", inplace=True)

hulu["rating"].fillna("G", inplace=True)

netflix["rating"].fillna("G", inplace=True)

#Sumamos los null, para ver que se impactaron los cambios
print(amazon.rating.isna().sum())
print(disney.rating.isna().sum())
print(hulu.rating.isna().sum())
print(netflix.rating.isna().sum())

0
0
0
0

+ De haber fechas, deberán tener el formato **`AAAA-mm-dd`**

In [289]:
#con el método to_datetime, convertimos a fecha el campo date_added

amazon["date_added"] = pd.to_datetime(amazon["date_added"])
disney["date_added"] = pd.to_datetime(disney["date_added"])
hulu["date_added"] = pd.to_datetime(hulu["date_added"])
netflix["date_added"] = pd.to_datetime(netflix["date_added"])

In [290]:
#Validamos que se cambio el formato
disney.head(3)

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score
0,ds1,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,2021-11-26,2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!,100
1,ds2,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,2021-11-26,1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...,17
2,ds3,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,2021-11-26,2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.,92

+ Los campos de texto deberán estar en **minúsculas**, sin excepciones

In [291]:
#Seleccionamos las columnas con texto a modificar
columnas = ["type", "title", "director", "cast", "country", "rating", "duration", "listed_in", "description"]

#Cambiamos el tipo de dato de algunas columnas como cast, que se encuentra en float

hulu['cast'] = hulu['cast'].astype(object)

#Recorremos cada columna del df para pasarlo a minúscula

for i in columnas:
    amazon[i] = amazon[i].str.lower()
    disney[i] = disney[i].str.lower()
    hulu[i] = hulu[i].str.lower()
    netflix[i] = netflix[i].str.lower()

In [292]:
amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            9668 non-null   object
 1   show_id       9668 non-null   object
 2   type          9668 non-null   object
 3   title         9668 non-null   object
 4   director      7586 non-null   object
 5   cast          8435 non-null   object
 6   country       672 non-null    object
 7   date_added    155 non-null    datetime64[ns]
 8   release_year  9668 non-null   int64
 9   rating        9668 non-null   object
 10  duration      9668 non-null   object
 11  listed_in     9668 non-null   object
 12  description   9668 non-null   object
 13  score         9668 non-null   int64
dtypes: datetime64[ns](1), int64(2), object(11)
memory usage: 1.0+ MB

El campo duration debe convertirse en dos campos: duration_int y duration_type. El primero será un integer y el segundo un string indicando la unidad de medición de duración: min (minutos) o season (temporadas)

In [294]:
# Dividimos la columna en todos los df

amazon[['duration_int','duration_type']]=amazon.duration.str.split(' ',expand=True)
disney[['duration_int','duration_type']]=disney.duration.str.split(' ',expand=True)
hulu[['duration_int','duration_type']]=hulu.duration.str.split(' ',expand=True)
netflix[['duration_int','duration_type']]=netflix.duration.str.split(' ',expand=True)

#Validamos los diferentes términos que quedaron en duration_type

amazon.duration_type.unique()
disney.duration_type.unique()
hulu.duration_type.unique()
netflix.duration_type.unique()

#Estandarizamos el término Seasons

amazon.duration_type.replace("seasons","season", inplace=True)
disney.duration_type.replace("seasons","season", inplace=True)
hulu.duration_type.replace("seasons","season", inplace=True)
netflix.duration_type.replace("seasons","season", inplace=True)

#convertimos duration_int en integer. Remplazamos nulos si hay y convertimos
amazon["duration_int"].fillna(0, inplace=True)
disney["duration_int"].fillna(0, inplace=True)
hulu["duration_int"].fillna(0, inplace=True)
netflix["duration_int"].fillna(0, inplace=True)

amazon['duration_int'] = amazon['duration_int'].astype(int)
disney['duration_int'] = disney['duration_int'].astype(int)
hulu['duration_int'] = hulu['duration_int'].astype(int)
netflix['duration_int'] = netflix['duration_int'].astype(int)

In [295]:
# Crear una columna con el nombre de la plataforma
amazon['Platform'] = 'amazon'
disney['Platform'] = 'disney'
hulu['Platform'] = 'hulu'
netflix['Platform'] = 'netflix'

In [296]:
#Por último unimos los datasets para importar solo 1 archivo

All_Platforms = pd.concat([amazon, disney, hulu, netflix])

All_Platforms.info()

# Reseteamos indices
All_Platforms.reset_index(inplace=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 8806
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             22998 non-null  object
 1   show_id        22998 non-null  object
 2   type           22998 non-null  object
 3   title          22998 non-null  object
 4   director       14739 non-null  object
 5   cast           17677 non-null  object
 6   country        11499 non-null  object
 7   date_added     13444 non-null  datetime64[ns]
 8   release_year   22998 non-null  int64
 9   rating         22998 non-null  object
 10  duration       22516 non-null  object
 11  listed_in      22998 non-null  object
 12  description    22994 non-null  object
 13  score          22998 non-null  int64
 14  duration_int   22998 non-null  int64
 15  duration_type  22516 non-null  object
 16  Platform       22998 non-null  object
dtypes: datetime64[ns](1), int64(3), object(13)
memory usage: 3.2+ MB

In [297]:
#Eliminamos columnas innecesarias
All_Platforms.drop(['index'], axis=1, inplace=True)
All_Platforms.drop(['duration'], axis=1, inplace=True)

In [298]:
# Pasamos a CSV para consumirlo con la API

All_Platforms.to_csv('/Users/yamilagaliano/Documents/Henry/LAB01/PI01-Data-Engineering/Datasets/All_Platforms.csv', index=True)